* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  color: #333;
  background-color: #f3e4d7;
}

/* height of the container */
.leaflet-container {
  height: 60vh;
  width: 60%;

}

.cluster-icon {
  background-color: rgb(40, 25, 173);
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px rgb(79, 84, 221);
}

.leaflet-popup-content {
  text-align: center; /* Center the text content */
  max-width: 300px; /* Optional: to limit the width of the popup */
}

.leaflet-popup-content h2 {
  margin-top: 0;
}

.leaflet-popup-content ul {
  padding-left: 0;
  list-style-type: none; /* Remove default list style */
}

.leaflet-popup-content ul li {
  padding: 4px 0; /* Add some padding to list items */
}

.leaflet-popup-content strong {
  display: block;
  margin-top: 10px;
  font-weight: bold;
} 
